@import "tailwindcss";

@theme {
  --color-primary: #13b6ec;
  --color-background-light: #f6f8f8;
  --color-background-dark: #0f172a;
  --color-card-dark: #1e293b;
  --color-strava: #FC4C02;
  --font-display: "Space Grotesk", sans-serif;
}

:root {
  --bg-primary: #0f172a;
  --bg-card: #1e293b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
